:root {
  --color-id-primary-1: hsl(0, 100%, 67%);
  --color-id-primary-2: hsl(39, 100%, 56%);
  --color-id-primary-3: hsl(166, 100%, 37%);
  --color-id-primary-4: hsl(234, 85%, 45%);

  --color-gradient-primary-1: hsl(0, 100%, 67%, 0.05);
  --color-gradient-primary-2: hsl(39, 100%, 56%, 0.05);
  --color-gradient-primary-3: hsl(166, 100%, 37%, 0.05);
  --color-gradient-primary-4: hsl(234, 85%, 45%, 0.05);

  --color-id-gradient-1: hsl(252, 100%, 67%);
  --color-id-gradient-2: hsl(241, 81%, 54%);
  --color-id-gradient-3: hsla(256, 72%, 46%, 1);
  --color-id-gradient-4: hsla(241, 72%, 46%, 0);

  --color-id-neutral-1: hsl(0, 0%, 100%);
  --color-id-neutral-2: hsl(221, 100%, 96%);
  --color-id-neutral-3: hsl(241, 100%, 89%);
  --color-id-neutral-4: hsl(224, 30%, 27%);
  --color-gradient-neutral-1: hsl(224, 30%, 27%, 0.5);
  --color-gradient-neutral-2: hsl(241, 100%, 89%, 0.5);
  --color-gradient-shadow:hsla(224, 30%, 27%, 0.1);

  --gradient-main-background: linear-gradient(to bottom, var(--color-id-gradient-1), var(--color-id-gradient-2));
  --gradient-score-circle: linear-gradient(to bottom, var(--color-id-gradient-3), var(--color-id-gradient-4));

  --font-family: 'Hanken Grotesk';
}